extends layout

block content
  .menu
    h2 Menu
    ul.nav.nav-pills
      li.active
        a(href="/tasks") Upload
      li
        a(href="/tasks") Todo List
      li
        a(href="/tasks") Completed
  .home
    form(action=`/users` method="post" enctype="multipart/form-data")
        .form-group
            label(for="exampleInputEmail1") title
            input.form-control(type="text"  name="title")
        .form-group
            label(for="exampleInputEmail1") description
            input.form-control(type="text"  name="description")
        .form-group
            label(for="exampleInputEmail1") Photo
            input.form-control(type="file"  name="photo")
            if msg == 1
              .succes
                Photo uploaded succesfully
            else if msg == 2
              .error
                  File size too large
            else if msg == 3
                  Invalid file type. Only JPG, PNG or GIF file are allowed.
            //- input(type="hidden" value=id name="userId")
        button.btn.btn-primary(type="submit") Add Photo

